
    <div class="row row-centered">
        <div class="col-xs-10 col-md-1 col-lg-2 col-centered"
             style="vertical-align: top; height:100%"> Hey</div>
        <div id="canvas-wrapper" class="col-xs-10 col-md-10 col-lg-8 col-centered" >
            <canvas id="lienzo" width="840" height="594">
			</canvas>
			<div id = "toolbox" >
				<img id ="eraser" class="tool" src="imgs/tools/ERASER.png" />
				<img id ="marker" class="tool" src="imgs/tools/MARKER.png" />
				<img id ="brush" class="tool current" src="imgs/tools/BRUSH.png" />
			</div>
			<!--<div id = "chat" ></div>-->
			
        </div>
        <div class="col-xs-10 col-md-1 col-lg-2 col-centered"
             style="vertical-align: top;">Hey</div>
        <!--
        <p class="lead" id="server_info">No conectado</p>
        <canvas id='mycanvas' class="col-sm-10"></canvas>
        <form id='send' class="col-sm-8">
          <div class="form-group">
            <input type="text" id="msg" name="msg" class="form-control" placeholder="Your guessings..." value=''>
            <button type="submit" id="send-btn" name="send-btn" class="btn-sm btn-default" value='Submit'>
            Send</button>
          </div>
        </form>-->
    </div>
