<h1>deMonstruable</h1>

<div  class="row">
    <div id="home-connect" class="col-xs-6 col-sm-4 col-md-2" >
        <img class="logo" src="imgs/cthulhu_by_germille-d2xjrwx.png" alt="demonstruable!">
        <form>
            <label>Connect</label>
            <div class="form-group">
                <input type="text" id="user" name="user" class="form-control" placeholder="Who are you?" value=''>
            </div>
            <div class="form-group">
                <input type="text" id="room" name="room" class="form-control" placeholder="and where are you going"
                       value=''>
            </div>
            <div class="form-group">
                <button type="submit" id="connect-btn" name="connect-btn" class="btn-lg btn-success" value='Submit'>
                    connect</button>
            </div>
        </form>
    </div>
</div>
<p class="lead" id="server_info">No conectado</p>